/* p {
    color: red;
}

#my-parag {
    color: blue;
}

.my-parag {
    color: green;
} */


/* letter-spacing, line-height, text-intend, text-transform, white-space, word-spacing.*/

p {
    /* letter-spacing: 10px; */
    /* line-height: 560px; */
    /* text-indent: 30px; */
    /* text-transform: uppercase; */
    /* word-spacing: 10px; */
}


