@import "fonts";

$logo-light-green: #61BF82;
$logo-dark-green: #0CA579;
$logo-dark-gray: #6B6B6B;
$logo-light-gray: #C1C1C1;

@mixin reset-list {
    margin: 0;
    padding: 0;
    list-style: none;
}

@mixin flex($justify-content, $align-items, $flex-direction: row, $flex-wrap: nowrap) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
    flex-direction: $flex-direction;
    flex-wrap: $flex-wrap;
}