
.dataTable {
    background-color: #2d2d2d;
    color: white;
    border-radius: 8px;
    border: 1px solid #444;
    padding: 1rem;
    margin-top: 1rem; /* Добавляем отступ сверху для поиска */
}

.dataTable th {
    color: #ddd;
    background-color: #333;
    padding: 10px;
    text-align: left;
}

.dataTable td {
    padding: 10px;
}

.dataTable tr:nth-child(even) {
    background-color: #3a3a3a;
}
/* DataTable.css */

/* Добавьте стили для кнопок в таблице */
.dataTable button {
    padding: 5px 10px;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s; /* Плавный переход для фона */
}

.dataTable button.edit {
    background-color: #1890ff; /* Цвет кнопки редактирования */
}

.dataTable button.delete {
    background-color: #ff4d4f; /* Цвет кнопки удаления */
}

.dataTable button:hover {
    opacity: 0.8; /* Эффект наведения на кнопку */
}

/* Можно добавить дополнительные стили для управления внешним видом кнопок */
.dataTable button:disabled {
    background-color: #555; /* Цвет для отключенной кнопки */
    cursor: not-allowed;
}


/* Стили для контейнера поиска */
.search-container {
    margin-bottom: 1rem; /* Отступ снизу для отделения от таблицы */
}

.search-input {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 4px;
    background-color: #333;
    color: white;
    width: 100%;
    max-width: 300px; /* Ограничиваем ширину поля поиска */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 768px) {
    .dataTable {
        font-size: 14px;
    }

    .dataTable th,
    .dataTable td {
        padding: 5px;
    }

    .search-input {
        max-width: 100%; /* Поле поиска занимает всю ширину на мобильных устройствах */
    }
}
    