@font-face {
  font-family: 'Product Sans Bold Italic';
  src: url(../assets/fonts/ProductSansBoldItalic.ttf);
}

@font-face {
  font-family: 'Product Sans Bold';
  src: url(../assets/fonts/ProductSansBold.ttf);
}

@font-face {
  font-family: 'Product Sans Italic';
  src: url(../assets/fonts/ProductSansItalic.ttf);
}

@font-face {
  font-family: 'Product Sans';
  src: url(../assets/fonts/ProductSansRegular.ttf);
}
