@import "global-style";

.calculator {
    padding: 100px;
    width: 400px;


    .calc-form {
        outline: solid;
        outline-offset: 10px;
        font-size: 24px;
        font-family: "Product Sans";
        display: flex;
        flex-direction: column;

        select {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #e5e5e5;
            font-size: 15px;
            font-family: 'Product Sans';
            height: 46px;
            line-height: 30px;
            padding: 0 15px;
        }

        input {
            background: #fff none repeat scroll 0 0;
            border: 1px solid #e5e5e5;
            font-size: 15px;
            font-family: 'Product Sans';
            height: 46px;
            line-height: 30px;
            padding: 0 15px;
        }

        .form-row-1 {

            .car-type {
                float: left;
            }

            .engine-type {
                float: right;
            }
        }

        .form-row-2 {

            .col-1 {
                float: left;
            }

            .col-2 {
                float: right;
            }

            .form-col {
                display: flex;
                flex-direction: column;


                div {
                    padding-top: 10px;
                }
            }
        }

        .form-row-3 {
            padding-top: 10px;
            display: flex;
            flex-direction: column;
        }

    }
}