body {
  height: 100%;
  margin: 0;
}

main {
  height: 800px;
}

main .greeting {
  background-image: url("../assets/img/IntroBackground.png");
  background-position: center;
  background-repeat: no-repeat;
}
