/* html, body {
    width: 100%;
}

.nav-menu {
    list-style-type: none;
    display:inline-block;
}

.nav-item {
    width: 100px;
    float: left;
} */

.navbar {
    height: 50px;
    display: flex;
    align-items: center;
}

.nav-menu {
    height: 100%;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    list-style-type: none;
    display:flex;
    justify-content: space-between;
}

.nav-item {
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-item a {
    text-decoration: none;
}

.nav-auth {
    width: 30%;
    display: flex;
    align-items: center;
}

.nav-auth ul {
    width: 50%;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
}

