@page
@model Auth.Pages.Register

@{
    ViewData["Title"] = "Register";
}

<div>
    <form method="post">
        <div class="form-outline mb-4">
            <input name="email" type="email" id="form2Example1" class="form-control"/>
            <label class="form-label" for="form2Example1">Email address</label>
        </div>

        <div class="form-outline mb-4">
            <input name="password" type="password" id="form2Example2" class="form-control"/>
            <label class="form-label" for="form2Example2">Password</label>
        </div>

        <div class="form-outline mb-4">
            <input name="confirmPassword" type="password" id="form3Example2" class="form-control"/>
            <label class="form-label" for="form3Example2">Confirm Password</label>
        </div>

        
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign Up</button>

        <div class="text-center">
            <p>Already have an account ? <a asp-page="/Login">Log In</a></p>
        </div>
    </form>
</div>